name: <%= MODULE_NAME %>
on:
  push: 
    branches: [<%= TARGET_BRANCH %>]
  workflow_dispatch:

jobs:
  <%= MODULE_NAME %>: 
    uses: <%= PIPELINE_TEMPLATE %>
    with:
      factoryRepo: "<%= FACTORY_REPO %>"
      factoryBranch: "<%= FACTORY_BRANCH %>"
      devPipeline: "<%= DEV_PIPELINE %>"
